.app.dark {
  --bg-color: #090949;
  --inverted-bg-color: #e8e8ea;

  --primary-color: #049604; //main color заголовки кнопки ссылки
  --secondary-color: #04ff04; // текст параграфы
  --inveted-primary-color: #0232c2;
  --inveted-secondary-color: #0449e0;
}
